<% content_for :title, "Editing racer season" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">Editing racer season</h1>

  <%= render "form", racer_season: @racer_season %>

  <%= link_to "Show this racer season", @racer_season, class: "btn btn-ghost" %>
  <%= link_to "Back to racer seasons", racer_seasons_path, class: "btn btn-ghost" %>
</div>
