<% content_for :title, "New racer" %>

<div class="md:w-2/3 w-full">
  <h1 class="font-bold text-4xl">New racer</h1>

  <%= render "form", racer: @racer %>

  <%= link_to "Back to racers", racers_path, class: "btn btn-ghost" %>
</div>
